<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.otbinary.fgworker">

    <application
        android:name=".SleepingForegroundWorkerApplication"
        android:label="SleepingForegroundWorkerApp">

        <receiver
            android:name=".StartSleepingWorkerBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove" />

    </application>
</manifest>
